@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');


:root{
  --base-color:#00fffb;
  --base-second-color:#1641ff;
}
body {
  font-family: Montserrat;
  background: #1a1a1a;
  color: white;
  overflow-x:hidden;
}

.boxEvent{
  padding:0.25rem;
  border-radius:0.25rem;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  cursor:pointer;
  height:15rem;
  width:100%;
  margin:0.1rem;
  text-align:center;
  background:black;
}
.boxsRow{
  display:flex !important;
}
.coverBg{
background:linear-gradient(transparent,#1a1a1a);
}
.activeLink {
  background-repeat: no-repeat;
  color: var(--base-color);
}

.hoverLink {
  position: relative;
  padding: 5px 0;
}

.hTitle{
  position:relative;
  animation:glow 1s linear infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
@keyframes glow {
  to{
    /* text-shadow:10px 10px 0px var(--base-color); */
    color:var(--base-color);

  }
}
.hoverLink::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0px;
  transition: all 0.3s ease;
  background: white;
}

.hoverLink:hover::before {
  width: 100%;
}

.gradientText {
  background: -webkit-linear-gradient(45deg, var(--base-color), var(--base-second-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientButton {
  background: -webkit-linear-gradient(45deg, var(--base-color), var(--base-second-color));
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

.gradientFilter {
  background: transparent;
  padding: 0.25rem 2rem;
  border: 2px solid #1641ff;
  cursor: pointer;
}

.gradientFilterActive {
  background: -webkit-linear-gradient(45deg, var(--base-second-color), var(--base-color));
}

.gradientButton:hover {
  transform: scale(1.05);
}

.gradientBackground {
  background: -webkit-linear-gradient(45deg, var(--base-second-color), var(--base-color));
}

.gradientRightBorder {
  border-right-width: 3px;
  border-right-style: solid;
  border-image:
    linear-gradient(to bottom,
      var(--base-color),
      rgba(0, 0, 0, 1)) 1 100%;
}

.gradientBorder {
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom,
      var(--base-color),
      rgba(0, 0, 0, 1)) 1 100%;
}

.cursor {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;

  /* mix-blend-mode: color-burn;
  mix-blend-mode: exclusion; */
  z-index: 40;
  /* transition: all 0.1s ease; */
}

.container {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.glitch {
  font-size:2rem;
  /* font-weight: bold; */
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
