.galleryRow{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1rem;
    width:90%;
    margin:2rem auto 5rem auto;
}
.galleryImage{
    position:relative;
    width:100%; 
    height:auto; 
    margin:1rem 0;
    border-radius:0.5rem;
    overflow:hidden;
    transition:all .3s ease;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.199);
}
.galleryImage.galleryImg{
    width:100%;
    background:#eee;
}
.imageUnsized{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
.galleryAbsHeight{
    position:Absolute;
    top:0rem;
    right:0rem;
    padding:0.5rem;
    opacity:0;
    font-weight:bold;
    transition:all 0.3s ease;

}
.galleryImgControls{
    background:transparent;
    position: absolute;
    bottom:0;
    width:100%;
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.6),black);
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity:0;
    transition:all 0.3s ease;
}
.galleryImage:hover .galleryImgControls{
    opacity:1;
}
.galleryImage:hover .galleryAbsHeight{
    opacity:1;
}
.specContainerParent{
    min-height:100vh;
    display:grid;
    place-items:center;
}
.specContainer{
    width:80vw;
    /* margin:5rem auto; */
    background:white;
    box-shadow:2px 2px 20px rgba(0, 0, 0, 0.363);
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height:calc(100vh - 10rem);
    max-height: 80vh;
}
.relatedGigsContaianerMain{
    margin:5rem  0;
    width:80vw;
    display:grid;
    grid-gap:2rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 'a0 a1 a2 a2 a3'
                         'a4 a5 a2 a2 a6'
                         'a7 a8 a9 a10 a11'
                         'a12 a13 a14 a15 a15'
                         'a16 a16 a17 a15 a15'
                         'a16 a16 a18 a19 a20'
                         'a21 a23 a24 a22 a25';
    grid-template-rows: repeat(3,40vh);
}
.specImgContainer{
    width:100%;
    height:calc(100vh - 10rem);
    position:relative !important;
}
.specImgContainer img{
    display:block;
    object-fit: cover;
}
.specText{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.morePostsSpec{
    overflow-y: auto !important;
    height:200px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    background:#ddd;
}
.morePostsSpec>a{
    height:150px;
}
.sideNavContainer{
    background:var(--sidebar-nav);
    background-size: 600px;
    box-shadow: 1px 0 0px rgba(0, 0, 0, 0.13);
    position:sticky;
    top:0;
    height:100vh;
}

.sideNavContainer ul li{
    cursor: pointer;
}
.profileContainer{
    overflow-y:auto;
    min-height: 100%;
    overflow-x: hidden;
}
.parentContainer{
    height:100%;
}
.dashboardBody{
    position:relative;
    top:-5rem;
    display:grid;
    grid-template-columns: 0.75fr 0.25fr;
    gap:1rem;
}
.addGig{
    border-radius:1rem;
    margin:1rem;
    padding:1rem;
    box-shadow:1px 1px 10px rgba(0,0,0,0.3);
    /* width:30vw; */
}
.authPostContainer,.authPostVideoContainer{
    border-radius:0.25rem;
    overflow: hidden;
    background:white;
    position:relative;
    height:15rem;
}
.playPostButton{
    position: absolute;
    left:0;
    width:100%;
    bottom:0;
    padding:0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}   
.authPostContainer::before{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    background:#00000027;
    clip-path: polygon(0 14%, 100% 70%, 100% 100%, 0% 100%);
    z-index:10;
    opacity:0;
    transition:all 0.3s ease;
}
.authPostContainer:hover::before,.authPostContainer:hover::after{
    opacity:1;
}
.authPostContainer .textForImageAuth{
    position:Absolute;
    left:50%;
    bottom:15%;
    transform:translate(-50%,0);
    text-align:Center;
    color:white;
    z-index:11;
    opacity:0;
    transition:all 0.3s ease;
}
.authPostContainer:hover .textForImageAuth{
    opacity:1;
}
.badge{
   border:1px solid black;
}
@media only screen and (max-width:640px) {
    .parentContainer{
        position:relative;
        grid-template-columns: 1fr !important;
    }
    .galleryImage{
        width:95%;
        margin:1rem auto;
    }
    .profileContainer{
        overflow: scroll;
    }
    .dashboardBody{
        top:-5rem;  
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:640px) {
    .galleryRow{
        grid-template-columns: 1fr;
        width:95vw;
        margin:2rem auto;
    }
    .specContainer{
        width:95vw;
        height:fit-content;
        display:flex;
        flex-direction: column;
        max-height: fit-content;
    }
    .relatedGigsContaianerMain{
        margin:  0 auto;
        width:95vw;
        grid-gap:1rem;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "a0 a1"
        "a2 a3"
        "a4 a5"
        "a6 a7"
        "a8 a9"
        "a10 a11"
        "a12 a13"
        "a14 a15"
        "a16 a17"
        "a18 a19";
    }
}
